@use '../base/variables' as v;
@use '../base/mixins' as m;

.main-head {
    grid-area: header;
}

.content {
    grid-area: content;
    min-height: 85vh;
}

.footer {
    grid-area: footer;
}

.wrapper {
    display: grid;
    grid-template-areas: 
        "header"
        "content"
        "footer";

    @include m.tablet {
        grid-template-columns: 1fr 5fr;
        grid-template-areas:
            "header header"
            "content content"
            "footer footer";
    }
}

.footer-first-line {
    border-bottom: .5rem solid v.$verde_v2;
}

.footer-content {
    height: 4rem;
    background-color: v.$gris_g6;
}

.footer-content p {
    color: v.$blanco;
    text-align: center;
    margin: auto;
    padding-top: .8rem;
}

/* ================ INICIO HEADER ================ */
.custom-page-header {
    background-color: v.$blanco;
    position: relative;
    z-index: 1;

    border-style: none none solid none;
    border-color: v.$morado_m2;
    border-width: .3rem;

    // box-shadow: 0px 6px 10px -1px rgba(0,0,0,0.3);
    // -webkit-box-shadow: 0px 6px 10px -1px rgba(0,0,0,0.3);
    // -moz-box-shadow: 0px 6px 10px -1px rgba(0,0,0,0.3);

    @include m.telefono {
        display: grid;
        grid-template-columns: auto 30rem;
        background: rgb(140,146,188);
        background: linear-gradient(135deg, rgba(140,146,188,1) 0%, rgba(140,146,188,1) 52%, rgba(117,124,176,1) 52%, rgba(140,146,188,1) 54%, rgba(140,146,188,1) 59%, rgba(255,255,255,1) 60%, rgba(255,255,255,1) 100%);
    }

    @include m.desktop {
        grid-template-columns: auto 45rem;
    }

    & .separador {
        display: none;

        @include m.telefono {
            display: flex;
            justify-content: left;
            align-items: center;
            padding: 1rem;
        }
    }

    & .separador-mobile {
        background-color: rgb(140,146,188);
        padding: 1rem;

        @include m.telefono {
            display: none;
        }
    }
}

.custom-image-header {
    margin: auto;
    width: auto;
    // height: 12rem;
    height: 10.6rem;
}

.custom-border-header-1 {
    border-style: none none solid none;
    border-color: v.$morado_m2;
    border-width: .3rem;
}

.custom-border-header-2 {
    border-style: none none solid none;
    border-color: v.$verde_v2;
    border-width: .3rem;
}

.title-head {
    color: v.$blanco;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;

    font-size: 2rem;

    @include m.telefono {
        text-align: left;
        font-size: 2.5rem;
    }

    @include m.desktop {
        font-size: 3rem;
        margin: 0;
    }
}

.title-head span {
    font-weight: 700;
}


/* ================ CUSTOM NAVBAR ================ */
.custom-navbar {
    display: flex;
    justify-content: flex-end;
    // position: relative;
    // z-index: -1;
}

.custom-ul-navbar {
    background-color: v.$verde_v2;
    display: inline-flex;
    position: relative;
}

.custom-ul-navbar::after {
    content: '';
    width: 0;
    height: 0;
    border-right: 2.5rem solid transparent;
    border-top: 2.5rem solid transparent;
    border-left: 2.5rem solid v.$blanco;
    border-bottom: 2.5rem solid v.$blanco;
    position: absolute;
}

.custom-ul-navbar li {
    list-style: none;

    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 1rem;
    padding-bottom: .5rem;
    
    cursor: pointer;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 500;
    position: relative;

    // transition: .5s all ease-in-out;
}

.custom-ul-navbar li:first-child {
    margin: 0 0 0 3rem;
}

.custom-ul-navbar li:hover {
    // background-color: v.$verde_v1;
    background-color: #BFE273;
}

.custom-navbar-option-selected {
    border-bottom: .3rem solid v.$morado_m2;
    font-weight: 800!important;
}

.custom-navbar-option-unselected {
    border-bottom: none;
}

.custom-dropdown-menu {
    position: absolute;
    background-color: v.$morado_m2;
    padding-right: 1rem;
    z-index: 999;
}

.dropdown-menu-catalogos {
    transform: translate(-26%, 2%);
    width: 20rem;
}

.dropdown-menu-acceso {
    transform: translate(-37%, 6%);
    width: 25rem;
}

.custom-dropdown-menu a:last-child {
    border-bottom: none;
}

.custom-dropdown-item {
    border-bottom: .1rem solid v.$blanco;
    display: flex;
    justify-content: left;
    text-transform: capitalize;
    color: v.$blanco;
    padding-left: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    left: .5rem;
    position: relative;
    font-weight: 500;
}

.custom-dropdown-item::after {
    content: '';
    width: .3rem;
    height: 1.5rem;
    background-color: v.$verde_v2;
    position: absolute;
    top: .9rem;
    margin-right: 1rem;
    left: .3rem;
}

.custom-dropdown-item:hover {
    color: v.$blanco;
    font-weight: 700;
    text-decoration: none;
}

.custom-dropdown-item-selected {
    font-weight: 700;
}

.custom-dropdown-item-unselected {
    font-weight: 500;
}

.custom-title-div-normal {
    background: rgb(196,244,93);
    background: linear-gradient(135deg, rgba(196,244,93,1) 0%, rgba(196,244,93,1) 43%, rgba(255,255,255,1) 43%, rgba(255,255,255,1) 100%);
}

.custom-title-page {
    color: #5f5f5f;
    margin: 0;
    padding: .5rem 0;
    text-transform: uppercase;
    // font-size: 1.7rem;
    // text-align: left;
    // padding-left: .5rem;

    font-size: 2.2rem;
    font-weight: 700;
    text-align: center;
    padding-left: 2rem;
}